<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Main Style -->
     <link rel="stylesheet" href="css/main-style.css">
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
         <!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>Politiques de Cookie</title>
</head>
<body class="main-container-legal">

    <div class="section-legal-content">

        <a href="/htoiture/up/index.html"    class="section-legal-content--wrapper-symbol">
            <svg class="section-legal-content--wrapper-symbol--symbol">
            <use href="img/sprite.svg#symbol-htoiture-normal"></use>
            </svg>
        </a>

        <div class="section-legal-content--main-title">
            <h1 class="section-legal-content--main-title__title">Politiques de Cookie</h1>
        </div>

        <div class="section-legal-content--block">
            <h2 class="section-legal-content--block__title">Introduction</h2>
            <p class="section-legal-content--block__para">Nous utilisons des cookies et d'autres technologies similaires afin de personnaliser notre contenu, mesurer l'efficacité de nos publicités et améliorer leur pertinence, ainsi que proposer une meilleure expérience. En cliquant sur OK ou en activant une option dans Préférences de cookies, vous acceptez les conditions énoncées dans notre Politique de confidentialité. Pour modifier vos préférences ou retirer votre consentement, vous devez mettre à jour vos préférences de cookies.</p>
        </div>

        <div class="section-legal-content--block">
            <h2 class="section-legal-content--block__title">Qu’est-ce qu’un « cookie » ?</h2>
            <p class="section-legal-content--block__para">Les « cookies » sont de petits fichiers placés sur votre disque dur par un serveur informatique lorsque vous visitez un site web. Certains cookies peuvent servir à identifier votre ordinateur chaque fois que vous vous rendez sur un site et ainsi faciliter et améliorer votre expérience en tant qu’utilisateur.</p>
        </div>

        <div class="section-legal-content--block">
            <h2 class="section-legal-content--block__title">Finalités des cookies</h2>
            <p class="section-legal-content--block__para">Le sites www.leadinsightmarketing.com utilisent les cookies pour les finalités  suivantes :
            <br><br>

                gérer l’affichage de publicités ciblées selon l’internaute ;
                <br>
                établir des statistiques de volumes de fréquentation et d’utilisation des divers éléments composant le site ;
                <br>
                mettre en œuvre des mesures de sécurité.</p>
        </div>

        <div class="section-legal-content--block">
            <h2 class="section-legal-content--block__title">Gestion des cookies</h2>
            <p class="section-legal-content--block__para">Vous disposez de plusieurs options pour supprimer et gérer les cookies et autres traceurs.
            <br>
                Lors de votre première visite sur le Site Internet, un bandeau vous informe de la présence de ces cookies et vous invite à indiquer votre choix. Ils ne sont déposés que si vous donnez votre consentement.
            <br>    
                Vous pouvez à tout moment choisir de désactiver ces cookies en paramétrant vos cookies pour les accepter ou les refuser ou en modifiant ou retirant votre consentement.
            <br>    
                Il vous est également possible de paramétrer votre ordinateur afin qu’il accepte ou refuse certains cookies. La plupart des navigateurs internet sont configurés par défaut de façon à ce que le dépôt de cookies soit autorisé. Votre navigateur vous offre l’occasion de modifier ces paramètres standards de manière que l’ensemble des cookies soit rejeté systématiquement ou bien à ce qu’une partie seulement des cookies soit acceptée ou refusée en fonction de leur émetteur.
                
                Votre navigateur vous permet également de supprimer les cookies existants sur votre terminal ou encore de vous signaler lorsque de nouveaux cookies sont susceptibles d’être déposés sur votre terminal. Ces paramètres n’ont pas d’incidence sur votre navigation, mais vous font perdre tout le bénéfice apporté par le cookie. Pour savoir de quelle manière modifier vos préférences en matière de cookies, vous trouverez ci-dessous les liens vers l’aide nécessaire pour accéder au menu de votre navigateur prévu à cet effet :
            <br><br>
            <br>    Chrome : https://support.google.com/chrome/answer/95647?co=GENIE
            <br>    Firefox : https://support.mozilla.org/fr/kb/activer-desactiver-cookies
            <br>    Internet Explorer : https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies
            <br>    Opera : http://help.opera.com/Windows/10.20/fr/cookies.html
            <br>    Safari : https://support.apple.com/kb/PH21411?viewlocale=fr_FR&locale=fr_FR
            <br><br>
                Nous attirons votre attention sur le fait que le refus du dépôt de cookies sur votre terminal est néanmoins susceptible d’altérer votre expérience d’utilisateur ainsi que votre accès à certains services ou fonctionnalités du présent site web.
                <br>
                
                
                Votre consentement s'applique aux domaines suivants : www.leadinsightmarketing.com
                
                <br><br>                
                Modifiez votre consentement  |  Retirez votre consentement</p>
        </div>

        <div class="section-legal-content--block">
            <h2 class="section-legal-content--block__title">Cookies strictement nécessaires</h2>
            <p class="section-legal-content--block__para">Ces cookies sont nécessaires au fonctionnement du site web et ne peuvent être désactivés dans nos systèmes. Ils sont généralement uniquement déposés en réponse à des actions de votre part correspondant à une demande de services, comme définir vos préférences de confidentialité, vous connecter ou remplir des formulaires. Vous pouvez configurer votre navigateur pour qu'il bloque ces cookies ou vous signale leur présence, mais certaines parties du site risquent alors de ne pas fonctionner.

                
        </div>

        <div class="section-legal-content--block">
            <h2 class="section-legal-content--block__title">Cookies de performance</h2>
            <p class="section-legal-content--block__para">Ces cookies nous permettent de compter le nombre de visites et de sources du trafic, afin de mesurer et d'améliorer les performances de notre site. Ils nous aident à savoir quelles pages sont plus ou moins fréquentées, et de quelle manière les visiteurs naviguent à travers le site. Toutes les informations collectées par ces cookies sont traitées de manière regroupée et restent donc anonymes. Si vous n'autorisez pas ces cookies, ils ne pourront être utilisés pour améliorer les performances du site.

               
        </div>

        <div class="section-legal-content--block">
            <h2 class="section-legal-content--block__title">Cookies Marketing</h2>
            <p class="section-legal-content--block__para">Ces cookies sont déposés sur notre site par nos partenaires publicitaires. Ils peuvent être utilisés par ces entreprises pour établir des profils en fonction de vos centres d'intérêt et vous présenter des publicités pertinentes sur d'autres sites. Ils fonctionnent grâce à l'identification de votre navigateur et de votre appareil uniquement. Si vous n'autorisez pas ces cookies, nos publicités ciblées ne s'afficheront pas sur différents sites web.

        </div>
        
    </div>

    <div class="section-footer dark-mode">
        <a href="/htoiture/up/index.html" class="section-footer--wrapper-symbol">
            <svg class="section-footer--wrapper-symbol--symbol">
                <use href="img/sprite.svg#symbol-htoiture-normal"></use>
            </svg>
        </a>

        <div class="section-footer--wrapper-content">
            <div class="section-footer--wrapper-content__coord">
                <h2>OK TOITURE</h2>
                <p>Tel: 06 64 58 48 84</p>
                <p>Email: contact@leadinsightmarketing.com</p>
                <p>Adresse: Place du Maréchal Leclerc, Veigné, 37250</p>
                <p>SIRET: #######</p>
            </div>
            <div class="section-footer--wrapper-content__newsletter">
                <h2>SOUSCRIVEZ A NOTRE NEWSLETTER</h2>
                <h3>Entrez vos information pour recevoir nos nouvelles offres et informations</h3>
                <form class="section-footer--wrapper-content__newsletter--wrap-form">
                    <div class="section-footer--wrapper-content__newsletter--wrap-form__part1">
                        <input class="section-footer--wrapper-content__newsletter--wrap-form__part1--name"type="text" placeholder="PRENOM ET NOM " required>
                        <input class="section-footer--wrapper-content__newsletter--wrap-form__part1--email"type="email" placeholder="EMAIL" required>
                    </div>
                    <div class="section-footer--wrapper-content__newsletter--wrap-form__part2">
                        <input class="section-footer--wrapper-content__newsletter--wrap-form__part2--submit"type="submit">
                    </div>
                </form>
            </div>
        </div>

        <ul class="section-footer--wrapper-links">
            <li class="section-footer--wrapper-links__item"><a href="/htoiture/up/politique_de_confidentialite.html">
                Potitique de confidentialité</a>
            </li>
            <li class="section-footer--wrapper-links__item"><a href="/htoiture/up/mention_legale.html">Mentions légales</a></li>
            <li class="section-footer--wrapper-links__item"><a href="/htoiture/up/politique_de_cookies.html">Politique de cookies</a></li>
            <li class="section-footer--wrapper-links__wrap-symbol"><a href="#" >
                <svg class="section-footer--wrapper-links__wrapsymbol--symbol">
                    <use href="img/sprite.svg#facebook"></use>
                </svg></a>
            </li>
            <li class="section-footer--wrapper-links__wrap-symbol"><a href="#" >
                <svg class="section-footer--wrapper-links__wrapsymbol--symbol">
                    <use href="img/sprite.svg#instagram"></use>
                </svg></a>
            </li>
            <li class="section-footer--wrapper-links__wrap-symbol"><a href="#" >
                <svg class="section-footer--wrapper-links__wrapsymbol--symbol">
                    <use href="img/sprite.svg#pinterest"></use>
                </svg></a>
            </li>
        </ul>

        <p class="section-footer--wrapper-copyright">Copyright &copy; 2022 Lead Insight Marketing all right reserved</p>

    </div>

</body>
</html>