asgiref==3.5.2
autopep8==1.6.0
backports.entry-points-selectable==1.1.1
boto3==1.26.137
botocore==1.29.137
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
charset-normalizer==2.0.7
cryptography==40.0.2
distlib==0.3.3
dj-database-url==0.5.0
Django==4.0.5
django-cors-headers==3.10.0
django-environ==0.9.0
django-heroku==0.3.1
django-storages==1.13.2
djangorestframework==3.12.4
filelock==3.3.2
gunicorn==20.1.0
idna==2.10
jmespath==1.0.1
pep8==1.7.1
platformdirs==2.6.2
psycopg2-binary==2.9.6
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==20.0.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.25.0
s3transfer==0.6.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tqdm==4.54.1
tzdata==2022.1
urllib3==1.25.11
virtualenv==20.10.0
whitenoise==6.2.0

