
<!DOCTYPE html>
{% extends "siteMain/base.html" %}
{% load static %}

{% block meta_description_block %}
<meta name="description" content="MIR Beton, Votre Chapiste de choix Inspection Gratuite, Sans Engagement,">
{% endblock%}

{% block title_block %}
<title>MIR BETON SERVICE 1</title>
{% endblock%}

{% block body_block %}

    <div class="section-headline short-headline">
        <div class="section-headline--wrapper">
            <!-- <h2 class="section-headline--wrapper__subtitle">Vous souhaitez rénover votre toiture?</h2> -->
            <h1 class="section-headline--wrapper__title">Service 1</h1>
        </div>
    </div>

    <div class="section-content">
        <div class="section-content--container">   
           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/bryan-agua--HTTS0vxkVU-unsplash.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/bryan-agua--HTTS0vxkVU-unsplash.jpg' %}" alt="">
                   </a>                     
               </figure> 
           </div>

           <div class="section-content--container__wrap-txt">
               <h1 class="section-content--container__wrap-txt--title">
                   MIR BETON - Chapiste à Antony
               </h1>
               <h2 class="section-content--container__wrap-txt--subtitle">
                   votre entreprise de béton de choix
               </h2>
               <h3 class="section-content--container__wrap-txt--para-bold">
                   Notre entreprise de béton, basé à antony,  vous propose l'expertise de ces artisans
               </h3>
               <p class="section-content--container__wrap-txt--para">
                   Nous intervenons sur l'ensemble de vos besoins en travaux de betonnerie:  travaux de couverture, rénovation de toiture, étanchéité, zinguerie, entretien de toiture,nettoyage & démoussage de toiture, traitement hydrofuge imperméabilisant,  pose de fenêtre de toit,isolation au bitume...
                   Nos experts maîtrise les travaux pour tout type de toiture: Toiture en tuile, ardoise, bac acier. 
               </p>
               <p class="section-content--container__wrap-txt--para">
                   Nous avons pour mission chez <span class="style-bold">MIR Couverture </span>
                    d'apporter une grande satisfaction à chacun de nos clients à Tours pour cela nous appliquons les meilleures pratiques du métier de couvreur zingueur et déployons notre savoir-faire afin de prodiguer un service impeccable. Nous sommes à l'écoute des besoins de nos clients et mettons en avant leurs intérêts. Pour ces raisons nous utilisons les matériaux de meilleure qualité pour assurer que les toitures de nos clients performent leur foction   durablement.
               </p>
               <p class="section-content--container__wrap-txt--para">
                   A la suite de la rencontre d'un de nos artisans pour une inspection de votre toiture vous obtiendrez un devis avec les prestations préconisé clairement indiqué sans travaux supplémentaires inutile. 
                   Nous faisons en sorte de rendre votre maison et toiture saine est donc libre de tout parasite. Votre toiture qui est votre protection principale contre les intempéries et les aléas météo météorologiques sera en état optimal pour vous protéger de l'humidité. 
                   MIR Couverture se positionne comme <span class="style-bold">votre entreprise de choix pour tous travaux d'entretien sur votre toiture.</span> 
               </p>
           </div>

           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/francisco-deane-8e09SSWt5Gw-unsplash.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/francisco-deane-8e09SSWt5Gw-unsplash.jpg' %}" alt="">
                   </a>                     
               </figure> 
           </div>
           
           <div class="section-content--container__wrap-txt">
               <h1 class="section-content--container__wrap-txt--title">
                   Nettoyage & Démoussage de Toiture à Tours
               </h1>

               <h2 class="section-content--container__wrap-txt--subtitle">Rénovation par Nettoyage & Démoussage de Toiture à Tours</h2>

               <p class="section-content--container__wrap-txt--para">
                   Nos couvreurs et artisans professionnels interviennent à Tours et dans  l'Indre-et-Loire pour tout type de travaux de réparation et rénovation de toiture. Nous effectuons aussi des nettoyage et démoussage de toiture.</p>

                <h3 class="section-content--container__wrap-txt--para-bold">Vous souhaitez connaître le prix du démoussage de votre toiture à Tours?</h3>

                <p class="section-content--container__wrap-txt--para">Contactez-nous pour obtenir un bon tarif pour le démoussage de votre toiture. Nous proposons des prix et tarifs abordables pour le nettoyage de votre toiture.Quelles sont les différentes méthodes étapes mise en œuvre pour obtenir le meilleur résultat avec le nettoyage de votre toiture?
               L'objectif est de rendre sa jeunesse à votre toit peu importe qu'il soit composé d'ardoise de tuiles ou de bac acier. Nos artisans professionnels vont par exemple utiliser des jets à haute pression ou des jets à basse pression selon la solidité des matériaux qui composent votre toiture par exemple pour une toiture en tuile nous n'utilisons pas un jet d'eau à fort débit ceci pourrait créer des risques d'infiltration d'eau.</p>

               <p class="section-content--container__wrap-txt--para">
               Nos couvreurs professionnels à Tours peuvent utiliser une brosse dure et de l'eau pour frotter l'intégralité de votre toiture afin de retirer les tâches
               une fois cette étape réalisé, Il s'ensuit un nettoyage par démoussage après le retrait des mousses principales et lichens. Nous pouvons appliquer un produit anti-mousse pour ralentir durablement la repousse de la végétation.
               Notre entreprise de couverture préconise ensuite d'utiliser un traitement hydrofuge de toiture. Ce produit imperméabilisant va allongé la durée de vie de la protection de votre toiture.
               Enfin nous terminerons par le nettoyage des gouttières en retirant les déchets.
               Pour le nettoyage et démoussage de toiture, nos couvreurs professionnels à Tours réalisent ces prestations pour des prix ou tarif abordables.  
               </p>

               <h2 class="section-content--container__wrap-txt--subtitle">Traitement et Imperméabilisation de toiture par hydrofuge à Tours</h2>

               <p class="section-content--container__wrap-txt--para">
                   Nous effectuons l'imperméabilisation de votre toiture à l'aide hydrofuge incolore. En effet, suite à l'usure de votre toiture de la mousse peut s'installer. Pour protéger votre toiture et garder des travaux de couverture à un bon tarif ou prix il est intéressant d'effectuer c'est imperméabilisation par hydrofuge.
               </p>
           </div>
       </div>
   </div>

   <div class="section-gallery-bis">
    <div class="section-gallery-bis--wrapper-cards">
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
        </div>
    </div>
   
   </div>

   <div class="section-reviews">
        <div class="section-reviews--wrapper-text">
            <p class="section-reviews--wrapper-text__title">avis</p>
            <p class="section-reviews--wrapper-text__subtitle">Plus de 100 clients à ce jour</p>
            <p class="section-reviews--wrapper-text__para">Nous prenons soin de servir nos clients pour leur offrir le meilleur résultat et la meilleur expérience. Voici quelques retours. N'hésitez pas à nous laisser un avis par <span><a href="#mail-address">mail</a></span> </p>  
        </div>
        <div class="section-reviews--wrapper-reviews">
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>

                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220; Merci pour cette expérience, nous sommes satisfait du travail fourni. Dès la demande de devis j’ai pu être prise en charge rapidement et professionnellement. Ma toiture a retrouvé sa jeunesse et rendu son éclat à la maison.
                    Cordialement, 
                      &#8221;</p>
                
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Mathilde Chaumier</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">03/04/2021</a>
                </div>

            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220; A la recherche d’une entreprise sérieuse pour réparer quelques dommages sur ma toiture, j’ai apprécié le professionnalisme à la suite de la demande d’un devis. Les artisans ont fait un bon travail, je suis satisfait.  &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Auguste Rabier</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">12/06/2021</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Ce fut une excellente expérience. Merci pour avoir répondu à mes questions et pour un travail bien réalisé. Les membres de votre équipe ont été courtois et démontré une bonne communication. Je ne pensais pas que ma toiture pouvait être aussi resplendissante.
                    &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Julie fredet</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">17/07/2021</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Entreprise sérieuse, bonne communication et respect des délais, je suis satisfait.  &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Thomas joubert</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">06/09/2021</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Nous avions besoin de changer notre faîtage et rénover notre toiture, nous avons rapidement été prise en charge pour une inspection gratuite et un devis. Nous avons fait le choix de travailler avec vous par rapport au professionnalisme et au prix compétitif proposé. Nous n’avons pas été déçus. Merci encore  &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Marie Renardet</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">10/10/2021</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Une équipe compréhensive et sympathiques. Ma toiture a été nettoyée rapidement comme promis. Vous avez un certain savoir-faire, je suis satisfait du résultat. &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Hugo Vertoux</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">18/03/2022</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Je voulais un traitement hydrofuge pour ma toiture. Les artisans sont venus rapidement et ont bien fait le travail. Je recommande.  &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Hassan Djebali</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">04/05/2022</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai été contacté par vos équipes à la suite de ma demande de devis. J’ai apprécié la flexibilité pour la prise de rendez-vous et l’écoute par rapport à mon problème.
                    Les artisans venus voir ma toiture m’ont bien conseillé. Je suis satisfait de la qualité de leur travail et de leur savoir-faire.
                      &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Driss soule</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">15/10/2022</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Mon toit avait besoin d’un bon nettoyage. J’ai effectué une demande de devis. La personne qui m’a contacté était à l’écoute et agréable. Nous avons pu convenir d’un rendez-vous rapidement. J’ai eu un devis à un prix intéressant et je suis satisfaite du travail effectué, ma maison est comme neuve.  &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Victoire lambert</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">23/07/2022</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai contacté vos équipes pour le nettoyage de ma toiture et le remplacement éventuel de quelques tuiles. J’ai obtenu un rendez-vous et un devis convenable rapidement. Les artisans ont effectué un bon travail. Merci
                    Cordialement,
                      &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Steven Brieux</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">13/06/2022</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai apprécié votre réactivité ainsi que votre savoir-faire. Vous ne poussez pas les gens à faire des travaux inutiles, merci pour vos conseils.
                    Je suis satisfait de la prestation.
                      &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">David Bernard</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">08/10/2022</a>
                </div>
            </div>
            <div class="section-reviews--wrapper-reviews__card">
                <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                    <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                        <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                    </svg>
                </div>
                <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Je suis contente de l’expérience en général. Nous souhaitions effectuer des réparations sur notre toiture. J’ai apprécié le sérieux et l’organisation à la suite de ma demande de devis. L’artisan était à l’écoute et à pu nous faire profiter de son savoir-faire pour nous conseiller. Ceci avec le montant du devis convenable m’a motivé à travailler avec vous.
                    Je recommande 
                      &#8221;</p>
                <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                    <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Thérèse Mouveaux</p>
                    <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">17/10/2022</a>
                </div>
            </div>
        </div>
   </div>

    <div class="section-content">
        <div class="section-content--container">
           <div class="section-content--container__wrapper-form">
            <div class="subsection-prospect-form" id="prospect-form">
                <div class="subsection-prospect-form--wrapper-header">
                    <p class="subsection-prospect-form--wrapper-header__title">Devis Gratuit en un Insant</p>
                    <ul class="subsection-prospect-form--wrap-benefit-list">
                        <li class="subsection-prospect-form--wrap-benefit-list__item">Devis sans engagement</li>
                        <li class="subsection-prospect-form--wrap-benefit-list__item">Inspection Gratuite</li>
                    </ul>
                    <p class="subsection-prospect-form--wrapper-header__promo">
                        * Profitez d'un bon de 50 euro avant le 30/01/2023
                    </p>
                </div>
                <div class="subsection-prospect-form--wrapper-form">
                    <form class="subsection-prospect-form--wrapper-form__form" method="POST">
                        <div class="subsection-prospect-form--wrapper-form__form--wrapper-radio">
                            <p class="subsection-prospect-form--wrapper-form__form--wrapper-radio__desc">Quel type de travaux?</p>
                            {{ lead_form.work_type}}
                        </div>

                        <div class="subsection-prospect-form--wrapper-form__form--wrapper-select">
                            <p class="subsection-prospect-form--wrapper-form__form--wrapper-select__desc" for="work-surface">Quel Surface?</p>
                            <div class="subsection-prospect-form--wrapper-form__form--wrapper-select__wrap-choices">
                                {{ lead_form.surface}} 
                            </div>
                        </div>

                        {{ lead_form.first_name}}
                        {{ lead_form.last_name}}
                        {{ lead_form.email}}
                        {{ lead_form.phone}}
                        {{ lead_form.zipcode}}
                        {{ lead_form.lead_consult_form }}
                        <input class="subsection-prospect-form--wrapper-form__form--submit" type="submit" value="Recevoir mon devis">
                        {% csrf_token %}
                    </form>
                    <div class="subsection-prospect-form--wrapper-form__wrap-policy">
                        <p class="subsection-prospect-form--wrapper-form__wrap-policy--para">En renseignant vos informations, vous acceptez de recevoir nos communications par courrier électronique et télépphone et vous prenez connaissance de notre <a href="" class="nakedLink">Politique de confidentialité</a>. Vous pouvez vous désinscrire à tout moment avec le lien fourni dans chaque e-mail ou en envoyant un message à leadinsightmarketing@gmail.com.</p>
                    </div>
                </div>
            </div>
           </div>    
        </div>
    </div>

    <div class="section-articles">
        <div class="section-articles--wrapper-cards">
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div>  
            <div class="section-all-articles--wrapper-cards__card">
                <img class="section-all-articles--wrapper-cards__card--illus" src="{% static 'img/arcwind--OKp-rhSWE4-unsplash.jpg' %}" alt="">
                <div class="section-all-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-all-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse?</h2>
                
                    <a href="{% url 'siteMain:pageArticle_1'%}" class="section-all-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div>    
        </div>
    </div>
 
{% endblock %}