
<!DOCTYPE html>
{% extends "poitiers/base.html" %}
{% load static %}

{% block meta_description_block %}
<meta name="description" content="MIR Béton - Avec notre guide complet, découvrez tout ce qu'il faut savoir sur les travaux de second œuvre: types de travaux, coût, durée, permis et assurances nécessaires. Nos professionnels vous accompagnent.">
{% endblock%}

{% block title_block %}
<title>Tout savoir sur les travaux de Second  Œuvre  </title>
{% endblock%}

{% block body_block %}

    <div class="section-headline short-headline">
        <div class="section-headline--wrapper">
            <!-- <h2 class="section-headline--wrapper__subtitle">Vous souhaitez rénover votre toiture?</h2> -->
            <h1 class="section-headline--wrapper__title">Tout savoir sur les travaux de Second  Œuvre </h1>
        </div>
    </div>

    <div class="section-content">
        <div class="section-content--container">   
           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/mirbeton-151.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/mirbeton-151.jpg' %}" alt="">
                   </a>                     
               </figure> 
           </div>

           <!-- Section Article -->
           <div class="section-content--container__wrap-txt">
            <h2 class="section-content--container__wrap-txt--title">Le Second œuvre, un Essentiel au confort </h2>
            <p class="section-content--container__wrap-txt--para">Voulez-vous rendre votre construction neuve habitable et confortable, la mettre à l’abri du froid et de l’humidité? Les travaux de second œuvre vous permettent de rendre votre maison habitable. </p>
            <p class="section-content--container__wrap-txt--para">Encore appelé “œuvre léger”, Le seconde œuvre est l’expression technique pour désigner l’ensemble des travaux qui succèdent au gros œuvre (en construction neuve)c&#39;est-à-dire la construction des fondations, des murs porteurs, de la charpente et de la toiture.</p>
            <p class="section-content--container__wrap-txt--para">Les travaux de second œuvre sont une étape cruciale dans la construction ou la rénovation d&#39;un bâtiment. L&#39;importance des travaux de second œuvre réside dans le fait qu&#39;ils permettent de rendre un bâtiment habitable, fonctionnel et esthétique. Ils concernent ainsi l&#39;ensemble des équipements et des <a href="{% url 'poitiers:pageServiceAmenagementExterieur'%}">aménagement d’extérieur</a>  et intérieures  qui contribuent au confort et à la sécurité des occupants.</p>
            <p class="section-content--container__wrap-txt--para">MIR BETON se propose de vous accompagner dans la réalisation de vos travaux de second œuvre.</p>
            <h2 class="section-content--container__wrap-txt--subtitle">Qu&#39;est-ce que les travaux de second œuvre ?</h2>
            <p class="section-content--container__wrap-txt--para">Les travaux de second œuvre sont donc tous les travaux qui viennent après le gros œuvre, et qui visent à achever la construction ou la rénovation d&#39;un bâtiment. Ils comprennent notamment :</p>
            <ul class="section-content--container__wrap-txt--list">
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">L&#39;isolation thermique et phonique :</p> <p class="section-content--container__wrap-txt--para"></p>elle permet de limiter les pertes de chaleur et de réduire les nuisances sonores. Installation de plaques de plâtre isolantes, panneaux acoustiques, portes et fenêtres isolantes ou encore pose de joints acoustiques.</li>
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Les cloisons et les faux plafonds : </p><p class="section-content--container__wrap-txt--para">ils permettent de délimiter les espaces intérieurs, d&#39;optimiser l&#39;isolation thermique et phonique et d&#39;améliorer l&#39;esthétique des pièces.</li>
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Les revêtements de sols et de murs :</p> <p class="section-content--container__wrap-txt--para">ils contribuent à l&#39;esthétique du bâtiment et peuvent également jouer un rôle dans l&#39;isolation thermique et phonique.</li>
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Les installations électriques et de plomberie :</p><p class="section-content--container__wrap-txt--para"> elles sont indispensables pour le fonctionnement du bâtiment et pour assurer le confort des occupants.</li>
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Les équipements de chauffage, de ventilation et de climatisation :</p><p class="section-content--container__wrap-txt--para"> ils permettent de réguler la température et la qualité de l&#39;air à l&#39;intérieur du bâtiment.</li>
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Les menuiseries et les fermetures :</p><p class="section-content--container__wrap-txt--para"> portes, fenêtres, volets, portails, etc. Ils permettent de sécuriser le bâtiment et d&#39;optimiser l&#39;isolation thermique et phonique.</li>
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Les finitions intérieures et extérieures :</p><p class="section-content--container__wrap-txt--para"> peinture, papier peint, enduit, bardage, etc. Ils permettent de personnaliser l&#39;esthétique du bâtiment et de le protéger contre les intempéries.</li>
            </ul>
            <p class="section-content--container__wrap-txt--para">Les travaux de second œuvre sont donc indispensables pour obtenir un bâtiment confortable, fonctionnel et esthétique. Ils demandent un savoir-faire particulier et l&#39;intervention de professionnels qualifiés pour garantir la qualité et la sécurité des installations.</p>
            <h2 class="section-content--container__wrap-txt--subtitle">Les différents types de travaux de second œuvre</h2>
            <p class="section-content--container__wrap-txt--para">Les travaux de second œuvre peuvent être très divers en fonction du type de construction ou de rénovation. Voici quelques exemples de travaux de second œuvre :</p>
            <ul class="section-content--container__wrap-txt--list">
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Travaux de second œuvre pour maison neuve :</p><p class="section-content--container__wrap-txt--para"> Installation électrique, plomberie, pose de carrelage, pose de revêtements de sol, peinture et décoration intérieure, entre autres.</li>
             <li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Rénovation d&#39;appartement :</p><p class="section-content--container__wrap-txt--para"> Rénovation de la plomberie et de l&#39;électricité, isolation phonique et thermique, pose de cloisons et de faux plafonds, pose de revêtements de sol et peinture.</li>
            </ul>
            <h2 class="section-content--container__wrap-txt--subtitle">Qui intervient dans les travaux de second œuvre ?</h2>
            <p class="section-content--container__wrap-txt--para">Les travaux de second œuvre nécessitent une variété d&#39;artisans et de professionnels qualifiés pour être réalisés correctement. Parmi les professionnels impliqués dans les travaux de second œuvre, on trouve :</p>
            <ul class="section-content--container__wrap-txt--list">
             <li class="section-content--container__wrap-txt--list__item">Les électriciens pour les travaux électriques</li>
             <li class="section-content--container__wrap-txt--list__item">Les plombiers pour l&#39;installation des équipements sanitaires et de chauffage</li>
             <li class="section-content--container__wrap-txt--list__item">Les menuisiers pour les portes, les fenêtres et les meubles sur mesure</li>
             <li class="section-content--container__wrap-txt--list__item">Les plaquistes pour l&#39;installation de cloisons et de faux plafonds</li>
             <li class="section-content--container__wrap-txt--list__item">Les carreleurs pour la pose de carrelage</li>
             <li class="section-content--container__wrap-txt--list__item">Les peintres pour la finition des murs et des plafonds</li>
            </ul>
            <p class="section-content--container__wrap-txt--para">Lorsque vous engagez une entreprise de travaux de second œuvre, elle doit prendre en charge la coordination de ces différents professionnels pour s&#39;assurer que les travaux sont effectués de manière harmonieuse et dans les délais impartis. L&#39;entreprise doit également garantir la qualité des travaux et assurer la sécurité des travailleurs sur le chantier.</p>
            
            
           </div>
           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/mirbeton-163.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/mirbeton-163.jpg' %}" alt="" style="object-position: 70% 70% !important">
                   </a>                     
               </figure> 
           </div>
           <!-- Evaluer mon projet -->
           <div class="section-content--container__wrap-txt">
               <div class="section-content--container__wrap-txt--btn-cta">
                   <svg class="btn-cta--symbol">
                       <use href="{% static 'img/sprite.svg' %}#calendar"></use>
                   </svg>
                   <a href="#prospect-form" class="btn-cta--text">
                       <span> Evaluer le montant de mon projet</span>
                   </a>
               </div>
           </div>
            <!-- Section Article -->
            <div class="section-content--container__wrap-txt">
                <h2 class="section-content--container__wrap-txt--subtitle">Le coût des travaux de second œuvre</h2>
                <p class="section-content--container__wrap-txt--para">Le coût des travaux de second œuvre varie en fonction de plusieurs facteurs, tels que la complexité des travaux, la superficie de la surface à traiter, le choix des matériaux et la localisation géographique. Le coût peut également varier en fonction du niveau de finition souhaité, qui peut aller d&#39;une finition basique à une finition haut de gamme.</p>
                <p class="section-content--container__wrap-txt--para">Pour vous donner une idée approximative des prix moyens, voici quelques exemples :</p>
                <ul class="section-content--container__wrap-txt--list">
                 <li class="section-content--container__wrap-txt--list__item">Isolation phonique : entre 30 et 80 euros par mètre carré.</li>
                 <li class="section-content--container__wrap-txt--list__item">Pose de placo : de 20 à 40 euros par mètre carré.</li>
                 <li class="section-content--container__wrap-txt--list__item">Revêtement de sol : de 15 à 100 euros par mètre carré.</li>
                </ul>
                <p class="section-content--container__wrap-txt--para">Il est important de demander des devis détaillés à plusieurs entreprises pour comparer les prix et les services proposés. Il est également conseillé de prévoir un budget supplémentaire pour les imprévus qui peuvent survenir pendant les travaux.</p>
                <h2 class="section-content--container__wrap-txt--subtitle">La durée des travaux de second œuvre</h2>
                <p class="section-content--container__wrap-txt--para">Les travaux de second œuvre peuvent prendre plus ou moins de temps en fonction de leur complexité et de la taille du chantier. En général, les travaux de second œuvre prennent moins de temps que les travaux de gros œuvre, car ils consistent en des tâches plus précises et spécialisées. Toutefois, la durée de ces travaux dépendra de plusieurs facteurs.</p>
                <p class="section-content--container__wrap-txt--para-bold">Temps de réalisation des différents travaux de second œuvre</p>
                <p class="section-content--container__wrap-txt--para">Le temps de réalisation des travaux de second œuvre peut varier considérablement en fonction du type de travaux à effectuer.</p>
                <p class="section-content--container__wrap-txt--para">Voici une estimation approximative du temps nécessaire pour les différents travaux de second œuvre :</p>
                <ul class="section-content--container__wrap-txt--list">
                 <li class="section-content--container__wrap-txt--list__item">Pose de revêtements de sol : 1 à 3 jours</li>
                 <li class="section-content--container__wrap-txt--list__item">Pose de cloisons sèches : 2 à 5 jours</li>
                 <li class="section-content--container__wrap-txt--list__item">Installation de menuiseries (portes, fenêtres) : 2 à 4 jours</li>
                 <li class="section-content--container__wrap-txt--list__item">Électricité : 3 à 5 jours</li>
                 <li class="section-content--container__wrap-txt--list__item">Plomberie : 2 à 4 jours</li>
                 <li class="section-content--container__wrap-txt--list__item">Peinture : 2 à 4 jours</li>
                </ul>
                <p class="section-content--container__wrap-txt--para-bold">Facteurs influençant la durée des travaux de second œuvre</p>
                <p class="section-content--container__wrap-txt--para">Plusieurs facteurs peuvent influencer la durée des travaux de second œuvre, notamment :</p>
                <ul class="section-content--container__wrap-txt--list">
                 <li class="section-content--container__wrap-txt--list__item">La taille du chantier</li>
                 <li class="section-content--container__wrap-txt--list__item">L&#39;état du chantier</li>
                 <li class="section-content--container__wrap-txt--list__item">Les contraintes techniques</li>
                 <li class="section-content--container__wrap-txt--list__item">La disponibilité des artisans</li>
                </ul>
                <h2 class="section-content--container__wrap-txt--subtitle">Permis et assurance pour les travaux de second œuvre</h2>
                <p class="section-content--container__wrap-txt--para-bold">Quand est-il nécessaire d&#39;obtenir un permis pour les travaux de second œuvre ?</p>
                <p class="section-content--container__wrap-txt--para">En général, les travaux de second œuvre ne nécessitent pas de permis de construire, car ils n&#39;affectent pas la structure du bâtiment. Cependant, dans certains cas, il peut être nécessaire d&#39;obtenir un permis de construire pour des travaux de second œuvre. </p>
                <p class="section-content--container__wrap-txt--para-bold">L&#39;importance de souscrire une assurance pour les travaux de second œuvre</p>
                <p class="section-content--container__wrap-txt--para">Il est fortement recommandé de souscrire une assurance pour les travaux de second œuvre. Cette assurance peut couvrir les dommages causés à la propriété ou aux personnes pendant les travaux, ainsi que les éventuelles erreurs de conception ou de construction. </p>
                
            </div>
            <div class="section-content--container__wrapper-img-full">
                <figure>
                    <a href="{% static 'img/mirbeton-119.jpg' %}" 
                    data-pswp-width="2000" 
                    data-pswp-height="1500" 
                    target="_blank">
                        <img src="{% static 'img/mirbeton-119.jpg' %}" alt="" style="object-position: 70% 70% !important">
                    </a>                     
                </figure> 
            </div>
            <!-- Evaluer mon projet -->
            <div class="section-content--container__wrap-txt">
                <div class="section-content--container__wrap-txt--btn-cta">
                    <svg class="btn-cta--symbol">
                        <use href="{% static 'img/sprite.svg' %}#calendar"></use>
                    </svg>
                    <a href="#prospect-form" class="btn-cta--text">
                        <span> Evaluer le montant de mon projet</span>
                    </a>
                </div>
            </div>

             <!-- Section Article -->
             <div class="section-content--container__wrap-txt">
                <h2 class="section-content--container__wrap-txt--subtitle">En bref</h2>
                <p class="section-content--container__wrap-txt--para">Les travaux de second œuvre sont essentiels pour achever la construction ou la rénovation d&#39;un bâtiment. Ils couvrent un large éventail de tâches qui vont de l&#39;installation électrique à la pose de revêtements de sol en passant par l&#39;isolation phonique. Pour mener à bien ces travaux, il est indispensable de faire appel à des professionnels qualifiés et expérimentés.</p>
                <p class="section-content--container__wrap-txt--para">Les coûts des travaux de second œuvre varient en fonction de nombreux facteurs, tels que la nature et l&#39;ampleur des travaux, les matériaux utilisés, la complexité du projet et la région géographique. C&#39;est pourquoi il est important de demander des devis détaillés à plusieurs entreprises de travaux de second œuvre avant de prendre une décision.</p>
                <p class="section-content--container__wrap-txt--para">Enfin, il est crucial de se conformer aux réglementations en vigueur et de souscrire une assurance pour les travaux de second œuvre. En effet, certaines interventions peuvent nécessiter un permis de construire et, même si ce n&#39;est pas le cas, des accidents peuvent survenir pendant la réalisation des travaux.
                En résumé, les travaux de second œuvre sont un aspect important de la construction ou de la rénovation d&#39;un bâtiment. </p>
                <h2 class="section-content--container__wrap-txt--subtitle">MIR Béton à Poitiers</h2>
                <p class="section-content--container__wrap-txt--para">Chez MIR Béton, nous sommes spécialisés dans la réalisation de travaux, notamment tout ce qui concerne le second œuvre à Poitiers et dans les environs. Forts de plusieurs années d&#39;expérience dans le domaine, nous proposons des prestations de qualité pour répondre aux besoins de nos clients.</p>
                <p class="section-content--container__wrap-txt--para">Nos professionnels sont des experts en la matière et disposent des compétences nécessaires pour réaliser vos travaux. Nous saurons vous conseiller sur le choix des matériaux, les différentes techniques d&#39;installation et les finitions possibles.</p>
                <p class="section-content--container__wrap-txt--para">Nos équipes MIR Béton seront en mesure de répondre à vos besoins et de réaliser votre projet sur mesure. Il vous suffit de faire une demande de devis en nous appelant ou en remplissant le formulaire. </p>
                <p class="section-content--container__wrap-txt--para">Faire appel à MIR Béton pour la réalisation de vos travaux de second œuvre, c&#39;est l&#39;assurance d&#39;un travail de qualité, réalisé dans les délais impartis et avec des matériaux de première qualité. N&#39;hésitez pas à nous contacter pour obtenir un devis gratuit et personnalisé.</p>
             </div>
             <!-- Evaluer mon projet -->
             <div class="section-content--container__wrap-txt">
                 <div class="section-content--container__wrap-txt--btn-cta">
                     <svg class="btn-cta--symbol">
                         <use href="{% static 'img/sprite.svg' %}#calendar"></use>
                     </svg>
                     <a href="#prospect-form" class="btn-cta--text">
                         <span> Evaluer le montant de mon projet</span>
                     </a>
                 </div>
             </div>
    

       </div>
   </div>

   <div class="section-gallery-bis">
    <div class="section-gallery-bis--wrapper-cards">
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-117.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-118.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-119.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-120.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-121.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-122.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-123.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-124.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-131.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-132.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-127.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-128.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-129.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-130.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-131.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-132.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-133.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-134.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-135.jpg' %}" alt="">
        </div>
    </div>
   
</div>

<div class="section-reviews">
    <div class="section-reviews--wrapper-text">
        <p class="section-reviews--wrapper-text__title">avis</p>
        <p class="section-reviews--wrapper-text__subtitle">Plus de 100 clients à ce jour</p>
        <p class="section-reviews--wrapper-text__para">Nous prenons soin de servir nos clients pour leur offrir le meilleur résultat et la meilleur expérience. Voici quelques retours. N'hésitez pas à nous laisser un avis par mail</p>  
    </div>
    <div class="section-reviews--wrapper-reviews">
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>

            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220; Merci pour cette expérience, nous sommes satisfait du travail fourni. Dès la demande de devis j’ai pu être prise en charge rapidement et professionnellement. Notre terrasse a retrouvé sa jeunesse et rendu son éclat à la maison.
                Cordialement, 
                  &#8221;</p>
            
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Mathilde Chaumier</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">03/04/2021</a>
            </div>

        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220; A la recherche d’une entreprise sérieuse pour rénover ma terrasse, j’ai apprécié le professionnalisme à la suite de la demande d’un devis. Les artisans ont fait un bon travail, je suis satisfait.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Auguste Rabier</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">12/06/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Ce fut une excellente expérience. Merci d' avoir répondu à mes questions et pour un travail bien réalisé. Les membres de votre équipe ont été courtois et démontré une bonne communication. Je ne pensais pas que le rendu transformerai autant mon extérieur.
                &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Julie fredet</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">17/07/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Entreprise sérieuse, bonne communication et respect des délais, je suis satisfait.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Thomas joubert</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">06/09/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Nous avions besoin d'ajouter des bordures dans notre jardin et faire un chemin pavé. Nous avons rapidement été prise en charge pour une appréciation du projet et un devis. Nous avons fait le choix de travailler avec vous par rapport au professionnalisme et au prix compétitif proposé. Nous n’avons pas été déçus. Merci encore  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Marie Renardet</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">10/10/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Une équipe compréhensive et sympathiques. Ma chape de béton a été réalisé rapidement comme promis. Vous avez un certain savoir-faire, je suis satisfait du résultat. &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Hugo Vertoux</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">18/03/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Je voulais un revêtement pour mon garage. Les artisans sont venus rapidement et ont bien fait le travail. Je recommande.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Hassan Djebali</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">04/05/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai été contacté par vos équipes à la suite de ma demande de devis. J’ai apprécié la flexibilité pour la prise de rendez-vous et l’écoute par rapport à mon problème.
                Les artisans venus voir mon jardin et m'ont bien conseillé. Je suis satisfait de la qualité de leur travail et de leur savoir-faire.
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Driss soule</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">15/10/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Le sol de la devanture de notre maison avait besoin d'une rénovation. J’ai effectué une demande de devis. La personne qui m’a contacté était à l’écoute et agréable. Nous avons pu convenir d’un rendez-vous rapidement. J’ai eu un devis à un prix intéressant et je suis satisfaite du travail effectué, ma maison est comme neuve.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Victoire lambert</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">23/07/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai contacté vos équipes pour rénover ma salle de bain. J’ai obtenu un rendez-vous et un devis convenable rapidement. Les artisans ont effectué un bon travail. Merci
                Cordialement,
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Steven Brieux</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">13/06/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai apprécié votre réactivité ainsi que votre savoir-faire. Vous ne poussez pas les gens à faire des travaux inutiles, merci pour vos conseils.
                Je suis satisfait de la prestation.
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">David Bernard</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">08/10/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Je suis contente de l’expérience en général. Nous souhaitions effectuer une rénovation de notre cuisine et notre salle de bain. J’ai apprécié le sérieux et l’organisation à la suite de ma demande de devis. L’artisan était à l’écoute et à pu nous faire profiter de son savoir-faire pour nous conseiller. Ceci avec le montant du devis convenable m’a motivé à travailler avec vous.
                Je recommande 
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Thérèse Mouveaux</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">17/10/2022</a>
            </div>
        </div>
    </div>
</div>

    <div class="section-content">
        <div class="section-content--container">
           <div class="section-content--container__wrapper-form">
            <div class="subsection-prospect-form" id="prospect-form">
                <div class="subsection-prospect-form--wrapper-header">
                    <p class="subsection-prospect-form--wrapper-header__title">Devis Gratuit en un Insant</p>
                    <ul class="subsection-prospect-form--wrap-benefit-list">
                        <li class="subsection-prospect-form--wrap-benefit-list__item">Devis sans engagement</li>
                        <li class="subsection-prospect-form--wrap-benefit-list__item">Inspection Gratuite</li>
                    </ul>
                    <p class="subsection-prospect-form--wrapper-header__promo">
                        * Rendu 2D/3D à 199 euro avant le 30/04/2023
                    </p>
                </div>
                <div class="subsection-prospect-form--wrapper-form">
                    <form class="subsection-prospect-form--wrapper-form__form" method="POST">
                        <div class="subsection-prospect-form--wrapper-form__form--wrapper-radio">
                            <p class="subsection-prospect-form--wrapper-form__form--wrapper-radio__desc">Quel type de travaux?</p>
                            {{ lead_form.work_type}}
                        </div>

                        <div class="subsection-prospect-form--wrapper-form__form--wrapper-select">
                            <p class="subsection-prospect-form--wrapper-form__form--wrapper-select__desc" for="work-surface">Quel Surface?</p>
                            <div class="subsection-prospect-form--wrapper-form__form--wrapper-select__wrap-choices">
                                {{ lead_form.surface}} 
                            </div>
                        </div>

                        {{ lead_form.first_name}}
                        {{ lead_form.last_name}}
                        {{ lead_form.email}}
                        {{ lead_form.phone}}
                        {{ lead_form.zipcode}}
                        {{ lead_form.lead_consult_form }}
                        <input class="subsection-prospect-form--wrapper-form__form--submit" type="submit" value="Recevoir mon devis">
                        {% csrf_token %}
                    </form>
                    <div class="subsection-prospect-form--wrapper-form__wrap-policy">
                        <p class="subsection-prospect-form--wrapper-form__wrap-policy--para">En renseignant vos informations, vous acceptez de recevoir nos communications par courrier électronique et télépphone et vous prenez connaissance de notre <a href="" class="nakedLink">Politique de confidentialité</a>. Vous pouvez vous désinscrire à tout moment avec le lien fourni dans chaque e-mail ou en envoyant un message à leadinsightmarketing@gmail.com.</p>
                    </div>
                </div>
            </div>
           </div>    
        </div>
    </div>

    <!-- <div class="section-articles">
        <div class="section-articles--wrapper-cards">
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-136.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part I?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-137.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part II?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-138.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part III?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-139.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part IV?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div>   
        </div>
    </div> -->
 
{% endblock %}