
<!DOCTYPE html>
{% extends "poitiers/base.html" %}
{% load static %}

{% block meta_description_block %}
<meta name="description" content="Découvrez tout sur la création d'une belle terrasse et allée pavée. Informations sur les coûts, l'installation, l'entretien et plus encore. Contactez-nous pour une consultation gratuite.">
{% endblock%}

{% block title_block %}
<title>Créez les terrasses et allées pavées de vos rêves | Entreprises de Pavage</title>
{% endblock%}

{% block body_block %}

    <div class="section-headline short-headline">
        <div class="section-headline--wrapper">
            <!-- <h2 class="section-headline--wrapper__subtitle">Vous souhaitez rénover votre toiture?</h2> -->
            <h1 class="section-headline--wrapper__title">Terrasse et Allée Pavée: Tout ce que vous devez savoir</h1>
        </div>
    </div>

    <div class="section-content">
        <div class="section-content--container">   
           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/mirbeton-253.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/mirbeton-253.jpg' %}" alt="">
                   </a>                     
               </figure> 
           </div>

           <!-- Section Article -->
           <div class="section-content--container__wrap-txt">
<p class="section-content--container__wrap-txt--para">Lorsqu&#39;il s&#39;agit d&#39;aménager l&#39;extérieur de sa maison, une terrasse et une allée pavée peuvent être un excellent choix pour leur durabilité et leur aspect esthétique. Dans cet article, nous allons explorer les différents types de pavés disponibles pour la création d&#39;une terrasse et d&#39;une allée pavée, ainsi que leur importance dans l&#39;<a href="{% url 'poitiers:pageServiceAmenagementExterieur'%}"
    >aménagement extérieur</a> d&#39;une maison.</p>
<h2 class="section-content--container__wrap-txt--title">Qu&#39;est-ce qu&#39;une terrasse pavée?</h2>
<p class="section-content--container__wrap-txt--para">Une terrasse pavée est une surface extérieure construite à partir de pavés de pierre ou de béton. Elle peut être installée au niveau du sol ou surélevée et est conçue pour être utilisée comme espace de détente et de loisirs en plein air.</p>
<p class="section-content--container__wrap-txt--para">Les avantages d&#39;une terrasse pavée sont nombreux. Elle offre une esthétique élégante et peut être personnalisée en fonction des goûts de chacun grâce à une large gamme de couleurs, de motifs et de textures disponibles. Elle est également résistante aux intempéries et peut durer de nombreuses années sans nécessiter beaucoup d&#39;entretien. En outre, elle ajoute de la valeur à une propriété et peut augmenter son attrait pour les acheteurs potentiels.</p>
<p class="section-content--container__wrap-txt--para">Il existe différents types de pierres pour le pavage de terrasse, chacun ayant ses propres avantages et inconvénients. Les options populaires incluent le granit, le calcaire, le grès et la pierre naturelle. Les pavés en béton sont également une alternative courante car ils sont moins chers et offrent plus de variété de couleurs et de styles.</p>
<p class="section-content--container__wrap-txt--para">La construction d&#39;une terrasse pavée nécessite des matériaux de base tels que du sable, du gravier, de la géotextile, du mortier et des pavés en pierre ou en béton. Les outils nécessaires peuvent inclure une pelle, un râteau, un niveau à bulle, une truelle et une scie à béton. Le processus de construction implique généralement la préparation du terrain, la création d&#39;une base solide, la pose des pavés en motif désiré et le remplissage des joints avec du sable.</p>
<h2 class="section-content--container__wrap-txt--title">Qu&#39;est-ce qu&#39;une allée pavée?</h2>
<p class="section-content--container__wrap-txt--para">L’allée pavée, elle, est une voie d&#39;accès à une maison ou une propriété, pavée avec des pierres ou des pavés. Contrairement à une allée en béton ou en asphalte, une allée pavée est plus esthétique et peut ajouter de la valeur à votre propriété.</p>
<p class="section-content--container__wrap-txt--para-bold">Les avantages d&#39;une allée pavée<p>
<p class="section-content--container__wrap-txt--para">L&#39;un des principaux avantages d&#39;une allée pavée est son aspect classique. Les pavés sont disponibles dans une variété de couleurs et de motifs, ce qui permet de personnaliser l&#39;allée selon vos préférences de design. De plus, une allée pavée est plus résistante et durable qu&#39;une allée en béton ou en asphalte. Les pavés sont conçus pour résister aux intempéries et aux conditions climatiques extrêmes, et peuvent durer des décennies sans nécessiter de réparations majeures.</p>
<p class="section-content--container__wrap-txt--para-bold"Les différents types de pierres pour le pavage d&#39;une allée<p>
<p class="section-content--container__wrap-txt--para">Il existe plusieurs types de pavés disponibles sur le marché, chacun ayant ses avantages et ses inconvénients en fonction de l&#39;utilisation prévue. Les pavés en béton sont les plus courants car ils sont abordables et faciles à trouver. Les pavés en pierre naturelle, tels que le granit ou le grès, offrent une plus grande variété de couleurs et de motifs, mais sont plus coûteux. Les pavés en terre cuite offrent une apparence rustique et chaleureuse, mais sont moins résistants que les autres types de pavés.</p>
<p class="section-content--container__wrap-txt--para">Voici une liste des différents types de pavés couramment utilisés pour les terrasses et allées pavées :</p>
<ul class="section-content--container__wrap-txt--list">
<li class="section-content--container__wrap-txt--list__item">Pavés carrossables</li>
<li class="section-content--container__wrap-txt--list__item">Pavés en béton</li>
<li class="section-content--container__wrap-txt--list__item">Pavés en pierre naturelle</li>
<li class="section-content--container__wrap-txt--list__item">Pavés en grès cérame</li>
<li class="section-content--container__wrap-txt--list__item">Pavés autobloquants</li>
<li class="section-content--container__wrap-txt--list__item">Pavés en terre cuite</li>
</ul>

           </div>
           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/mirbeton-256.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/mirbeton-256.jpg' %}" alt="" style="object-position: 70% 70% !important">
                   </a>                     
               </figure> 
           </div>
           <!-- Evaluer mon projet -->
           <div class="section-content--container__wrap-txt">
               <div class="section-content--container__wrap-txt--btn-cta">
                   <svg class="btn-cta--symbol">
                       <use href="{% static 'img/sprite.svg' %}#calendar"></use>
                   </svg>
                   <a href="#prospect-form" class="btn-cta--text">
                       <span> Evaluer le montant de mon projet</span>
                   </a>
               </div>
           </div>

    
           <!-- Section Article -->
           <div class="section-content--container__wrap-txt">
            <h2 class="section-content--container__wrap-txt--subtitle">Importance des terrasses et allées pavées pour l&#39;aménagement extérieur d&#39;une maison</h2>
<p class="section-content--container__wrap-txt--para">Une terrasse ou une allée pavée ajoute de la valeur à votre maison tout en créant un espace de vie extérieur fonctionnel et esthétique. Elles peuvent également aider à améliorer la circulation autour de votre propriété et à prévenir l&#39;érosion du sol. </p>
<p class="section-content--container__wrap-txt--para">Les terrasses et allées pavées sont donc d’excellents choix pour améliorer l&#39;<a href="{% url 'poitiers:pageServiceAmenagementExterieur'%}"
    >aménagement extérieur</a> de votre maison. En choisissant le type de pavé qui convient le mieux à vos besoins, vous pouvez créer un espace de vie extérieur en harmonie avec votre habitation, durable et fonctionnel.</p>
<h2 class="section-content--container__wrap-txt--title">Types de pavés pour terrasse et allée</h2>
<p class="section-content--container__wrap-txt--para">Lorsque vous envisagez de créer une terrasse ou une allée pavée, vous avez le choix entre différents types de pavés. Les matériaux les plus courants sont le granit, le béton, la <a href="{% url 'poitiers:pageServicePierreNaturelleGresCerame'%}"
    >pierre naturelle</a> et le <a href="{% url 'poitiers:pageServiceTerrasseCarrelage'%}"
    >grès cérame</a>. Chacun de ces matériaux présente ses propres avantages et inconvénients, il est donc important de bien les comprendre avant de faire un choix.</p>
<p class="section-content--container__wrap-txt--para-bold">Pavé en Granit<p>
<p class="section-content--container__wrap-txt--para">Le granit est un matériau populaire pour les terrasses et les allées pavées en raison de sa durabilité et de sa résistance aux intempéries. Il est également facile à entretenir et peut être trouvé dans une variété de couleurs et de finitions.</p>
<p class="section-content--container__wrap-txt--para-bold">Pavé en Béton<p>
<p class="section-content--container__wrap-txt--para">Le béton est une option abordable pour les terrasses et les allées pavées. Il est également disponible dans une variété de couleurs et de finitions.</p>
<p class="section-content--container__wrap-txt--para-bold">Pavé en Pierre naturelle<p>
<p class="section-content--container__wrap-txt--para">La pierre naturelle est un matériau de haute qualité pour les terrasses et les allées pavées, offrant une apparence naturelle et une grande variété de couleurs et de textures. Cependant, elle est plus coûteuse que d&#39;autres options et nécessite un entretien régulier.</p>
<p class="section-content--container__wrap-txt--para-bold">Pavé en Grès cérame<p>
<p class="section-content--container__wrap-txt--para">Le grès cérame est une option relativement nouvelle pour les terrasses et les allées pavées, mais gagne rapidement en popularité en raison de sa durabilité, de sa résistance aux intempéries et de sa facilité d&#39;entretien. Il est également disponible dans une variété de couleurs et de finitions.</p>
<h2 class="section-content--container__wrap-txt--subtitle">Choix des couleurs pour une terrasse et allée pavée</h2>
<p class="section-content--container__wrap-txt--para">Le choix des couleurs pour votre terrasse ou allée pavée dépendra de vos préférences personnelles et du style de votre maison. Les pavés sont disponibles dans une variété de couleurs, de la couleur naturelle du granit au béton teinté en passant par les tons chauds de la pierre naturelle. Il est important de choisir une couleur qui complète le style de votre maison et crée une ambiance cohérente pour votre aménagement extérieur.</p>
<h2 class="section-content--container__wrap-txt--title">Aménagement extérieur avec des terrasses et allées pavées</h2>
<p class="section-content--container__wrap-txt--para">L&#39;aménagement extérieur de votre maison est important pour créer un espace agréable et harmonieux. Les terrasses et allées pavées sont des solutions populaires pour améliorer l&#39;aspect de votre espace extérieur tout en créant un espace pratique pour socialiser, dîner et se détendre. Dans cet article, nous allons vous donner un aperçu des avantages et des inconvénients des terrasses et allées pavées, des étapes clés pour l&#39;installation, de l&#39;entretien nécessaire et des coûts associés. </p>
<h2 class="section-content--container__wrap-txt--subtitle">Avantages des terrasses et allées pavées</h2>
<p class="section-content--container__wrap-txt--para">Une terrasse et allée pavée présentent de nombreux avantages. En voici quelques-uns :</p>
<ul class="section-content--container__wrap-txt--list">
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Durabilité : Les pavés sont résistants aux intempéries et aux dommages causés par les véhicules et les piétons, offrant ainsi une longue durée de vie.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Design personnalisé : Les pavés sont disponibles dans une grande variété de couleurs, formes et motifs, vous offrant la possibilité de personnaliser le design de votre espace extérieur. </p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Entretien facile : Les pavés sont faciles à nettoyer, ce qui en fait une solution pratique pour les espaces extérieurs.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Amélioration de la valeur de la maison : Une terrasse et allée pavée peuvent ajouter de la valeur à votre propriété en créant un espace extérieur fonctionnel et esthétique.</p>
</li>
</ul>
<h2 class="section-content--container__wrap-txt--subtitle">Inconvénients des terrasses et allées pavées</h2>
<p class="section-content--container__wrap-txt--para">Bien qu&#39;il y ait de nombreux avantages à l&#39;utilisation de pavés pour l&#39;aménagement extérieur, il y a également quelques inconvénients à prendre en compte, notamment : </p>
<ul class="section-content--container__wrap-txt--list">
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Coût initial élevé : Le coût initial d&#39;une terrasse et allée pavée peut être élevé en comparaison avec d&#39;autres matériaux tels que le béton et le bois.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Temps d&#39;installation : L&#39;installation d&#39;une terrasse et allée pavée nécessite une préparation minutieuse et un temps d&#39;installation plus long que d&#39;autres solutions d&#39;aménagement extérieur.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Risque de glissade : Les pavés peuvent être glissants lorsqu&#39;ils sont mouillés, il est donc important de prendre en compte cet aspect si vous avez de jeunes enfants ou des personnes âgées à la maison.</p>
</li>
</ul>

           </div>
           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/mirbeton-252.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/mirbeton-252.jpg' %}" alt="" style="object-position: 70% 70% !important">
                   </a>                     
               </figure> 
           </div>
           <!-- Evaluer mon projet -->
           <div class="section-content--container__wrap-txt">
               <div class="section-content--container__wrap-txt--btn-cta">
                   <svg class="btn-cta--symbol">
                       <use href="{% static 'img/sprite.svg' %}#calendar"></use>
                   </svg>
                   <a href="#prospect-form" class="btn-cta--text">
                       <span> Evaluer le montant de mon projet</span>
                   </a>
               </div>
           </div>

           <!-- Section Article -->
           <div class="section-content--container__wrap-txt">
            <h2 class="section-content--container__wrap-txt--title">Installation de terrasse ou allée pavée</h2>
<p class="section-content--container__wrap-txt--para">L&#39;installation d&#39;une terrasse ou d&#39;une allée pavée nécessite une préparation minutieuse pour garantir sa durabilité et sa résistance. Voici les étapes clés de l&#39;installation d&#39;une terrasse ou d&#39;une allée pavée:</p>
<ol>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Préparation du terrain et choix de l&#39;épaisseur de pavés :</p> <p class="section-content--container__wrap-txt--para"> Le sol doit être nivelé et compacté avant l&#39;installation de la terrasse ou de l&#39;allée pavée. L&#39;épaisseur des pavés dépend du type de sol et de l&#39;utilisation prévue.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Pose du sable pour une installation réussie :</p> <p class="section-content--container__wrap-txt--para"> Le sable est utilisé pour assurer une base stable pour les pavés. Le sable doit être nivelé et compacté à l&#39;aide d&#39;une plaque vibrante avant la pose des pavés.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Étapes pour la pose de pavés extérieurs :</p> <p class="section-content--container__wrap-txt--para"> La pose des pavés doit être effectuée de manière méthodique en commençant par le bord extérieur et en travaillant vers l&#39;intérieur. Les pavés doivent être posés en veillant à ce que chaque pavé soit à niveau avec le pavé adjacent.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para-bold">Durée d&#39;installation pour une allée pavée :</p> <p class="section-content--container__wrap-txt--para"> La durée d&#39;installation dépend de la surface à couvrir, de la complexité du design et des conditions météorologiques.</p>
</li>
</ol>
<p class="section-content--container__wrap-txt--para-bold">Entreprises de pavage de terrasse et allée dans la région de Poitiers<p>
<p class="section-content--container__wrap-txt--para">Si vous recherchez des professionnels pour l&#39;installation de votre terrasse ou allée pavée à Poitiers, vous pouvez faire appel à MIR Béton Poitiers. Nos artisans et professionnels qualifiés sont experts dans la pose de pavés extérieurs en béton, en pierre naturelle, en grès cérame et en granit.</p>
<h2 class="section-content--container__wrap-txt--subtitle">Entretien d&#39;une terrasse et allée pavée</h2>
<p class="section-content--container__wrap-txt--para">Une fois votre terrasse et allée pavée installées, il est important d&#39;en prendre soin pour assurer une longue durée de vie. Voici quelques conseils pour un entretien efficace :</p>
<ul class="section-content--container__wrap-txt--list">
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Nettoyage régulier : Pour éviter l&#39;apparition de mauvaises herbes, il est conseillé de nettoyer régulièrement votre terrasse et allée pavée.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Réparation des pavés endommagés : En cas de pavés endommagés, il est important de les remplacer rapidement pour éviter une détérioration plus importante.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Traitement anti-mousse : Les mousses peuvent rapidement envahir votre terrasse et allée pavée, il est donc conseillé d&#39;utiliser un traitement anti-mousse pour éviter leur apparition.</p>
</li>
</ul>
<p class="section-content--container__wrap-txt--para">En suivant ces quelques conseils, vous pourrez profiter d&#39;une terrasse et allée pavée en bon état pendant de nombreuses années.</p>
<h2 class="section-content--container__wrap-txt--subtitle">Coûts de pavage d&#39;une terrasse et allée</h2>
<p class="section-content--container__wrap-txt--para">Le coût de pavage d&#39;une terrasse et allée varie en fonction de plusieurs facteurs, tels que la taille de la surface à couvrir, le type de pavé utilisé, l&#39;épaisseur du pavé, le coût des matériaux et le coût de la main-d&#39;œuvre. En moyenne, le coût de pavage d&#39;une terrasse ou allée pavée se situe entre 50 € et 150 € par mètre carré.</p>
<p class="section-content--container__wrap-txt--para">Néanmoins, il faut faire attention aux coûts tels que la préparation du terrain, la fourniture et la pose du sable pour une installation réussie, l&#39;achat d&#39;outils spéciaux, et la location d&#39;un conteneur pour évacuer les déchets. Il est également recommandé de prévoir un budget pour les travaux de réparation éventuels ou les ajouts futurs.</p>
<p class="section-content--container__wrap-txt--para">En comparaison avec d&#39;autres matériaux tel que le béton, le pavé est un choix coûteux. Cependant, il offre une durabilité et une élégance supérieures à celles des autres matériaux. Il est donc important de prendre en compte les coûts à long terme lors de la prise de décision sur le choix du matériau pour une terrasse et allée.</p>

           </div>
           <div class="section-content--container__wrapper-img-full">
               <figure>
                   <a href="{% static 'img/mirbeton-254.jpg' %}" 
                   data-pswp-width="2000" 
                   data-pswp-height="1500" 
                   target="_blank">
                       <img src="{% static 'img/mirbeton-254.jpg' %}" alt="" style="object-position: 70% 70% !important">
                   </a>                     
               </figure> 
           </div>
           <!-- Evaluer mon projet -->
           <div class="section-content--container__wrap-txt">
               <div class="section-content--container__wrap-txt--btn-cta">
                   <svg class="btn-cta--symbol">
                       <use href="{% static 'img/sprite.svg' %}#calendar"></use>
                   </svg>
                   <a href="#prospect-form" class="btn-cta--text">
                       <span> Evaluer le montant de mon projet</span>
                   </a>
               </div>
           </div>

           <!-- Section Article -->
           <div class="section-content--container__wrap-txt">
            <h2 class="section-content--container__wrap-txt--subtitle">Autres solutions pour l&#39;aménagement extérieur</h2>
<p class="section-content--container__wrap-txt--para">Il existe plusieurs solutions pour l&#39;aménagement extérieur de votre maison. En plus du pavage de votre terrasse et allée, voici quelques alternatives à considérer :</p>
<ul class="section-content--container__wrap-txt--list">
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Utilisation de dalles en béton : Les dalles en béton sont une alternative économique pour créer une allée ou une terrasse.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Utilisation de béton décoratif : Le béton décoratif, comme le béton désactivé, <a href="{% url 'poitiers:pageServiceBetonImprime'%}"
    >béton imprimé</a> ou <a href="{% url 'poitiers:pageServiceBitumeEnrobe'%}"
    >enrobé à chaud</a>, offre un design unique pour votre terrasse ou allée.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Utilisation de bordures : Les <a href="{% url 'poitiers:pageServiceBordureBeton'%}"
    >bordures</a> peuvent être utilisées pour délimiter votre terrasse ou votre allée.</p>
</li>
<li class="section-content--container__wrap-txt--list__item"><p class="section-content--container__wrap-txt--para">Utilisation de résine de sol : La <a href="{% url 'poitiers:pageServiceResineEpoxy'%}"
    >résines de sol </a> est une alternative esthétique pour le pavage de votre terrasse ou allée.</p>
</li>
</ul>
<p class="section-content--container__wrap-txt--para">A la suite de la réalisation de votre <a href="{% url 'poitiers:pageServiceTravauxGrosOeuvre'%}"
    >gos œuvre</a> et <a href="{% url 'poitiers:pageServiceTravauxSecondOeuvre'%}"
    >second œuvre</a>, pour une installation réussie, MIR Béton vous accompagne. Les professionnels de MIR Béton Poitiers sont là pour vous aider à réaliser votre projet d&#39;aménagement extérieur. Nos artisans et professionnels à Poitiers sont expérimentés dans l&#39;installation de <a href="{% url 'poitiers:pageServicePavageDallage'%}"
    >pavés</a>, de <a href="{% url 'poitiers:pageServiceDalleBeton'%}"
    >dalles en béton</a>, de <a href="{% url 'poitiers:pageServiceBetonDecoratif'%}"
    >béton décoratif</a> ou encore de résine de sol pour une finition professionnelle.</p>
<h2 class="section-content--container__wrap-txt--title">MIR Béton à Poitiers</h2>
<p class="section-content--container__wrap-txt--para">Chez MIR Béton, nous sommes spécialisés dans la réalisation de travaux notamment tout ce qui concerne l‘aménagement d’extérieur et les poses de pavé pour terrasses et allées à Poitiers et dans les environs. Nos équipes vous proposent leurs services de qualité pour la pose de pavés de terrasses et allées.</p>
<p class="section-content--container__wrap-txt--para">En plus de la pose de pavés, nous proposons également d&#39;autres solutions pour l&#39;aménagement de votre extérieur, notamment des <a href="{% url 'poitiers:pageServiceTerrasseBois'%}"
    >terrasses  bois</a>, du béton décoratif, béton imprimé, <a href="{% url 'poitiers:pageServiceBetonDesactive'%}"
    >béton désactivé</a> et de l’enrobé. Nous mettons notre expertise à votre service pour la création d&#39;une terrasse ou allée esthétique, fonctionnelle et résistante.</p>
<p class="section-content--container__wrap-txt--para">Nous vous accompagnons tout au long du projet, de la conception à la réalisation, en passant par le choix des matériaux et des finitions. Nos équipes MIR Béton seront en mesure de répondre à vos besoins et de réaliser votre projet sur mesure. Il vous suffit de faire une demande de devis en nous appelant ou en remplissant le formulaire.</p>
<p class="section-content--container__wrap-txt--para">Faire appel à MIR Béton pour la réalisation de vos terrasses et allées, c&#39;est l&#39;assurance d&#39;un travail de qualité, réalisé dans les délais impartis et avec des matériaux de première qualité. N&#39;hésitez pas à nous contacter pour obtenir un devis gratuit et personnalisé.</p>
           </div>

           <!-- Evaluer mon projet -->
           <div class="section-content--container__wrap-txt">
               <div class="section-content--container__wrap-txt--btn-cta">
                   <svg class="btn-cta--symbol">
                       <use href="{% static 'img/sprite.svg' %}#calendar"></use>
                   </svg>
                   <a href="#prospect-form" class="btn-cta--text">
                       <span> Evaluer le montant de mon projet</span>
                   </a>
               </div>
           </div>

        

       </div>
   </div>

   <div class="section-gallery-bis">
    <div class="section-gallery-bis--wrapper-cards">
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-117.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-118.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-119.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-120.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-121.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-122.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-123.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-124.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-131.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-132.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-127.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-128.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-129.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-130.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-131.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-132.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-133.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-134.jpg' %}" alt="">
        </div>
        <div class="section-gallery-bis--wrapper-cards__wrapper-img">
            <img class="section-gallery-bis--wrapper-cards__wrapper-img--img" src="{% static 'img/mirbeton-135.jpg' %}" alt="">
        </div>
    </div>
   
</div>

<div class="section-reviews">
    <div class="section-reviews--wrapper-text">
        <p class="section-reviews--wrapper-text__title">avis</p>
        <p class="section-reviews--wrapper-text__subtitle">Plus de 100 clients à ce jour</p>
        <p class="section-reviews--wrapper-text__para">Nous prenons soin de servir nos clients pour leur offrir le meilleur résultat et la meilleur expérience. Voici quelques retours. N'hésitez pas à nous laisser un avis par mail</p>  
    </div>
    <div class="section-reviews--wrapper-reviews">
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>

            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220; Merci pour cette expérience, nous sommes satisfait du travail fourni. Dès la demande de devis j’ai pu être prise en charge rapidement et professionnellement. Notre terrasse a retrouvé sa jeunesse et rendu son éclat à la maison.
                Cordialement, 
                  &#8221;</p>
            
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Mathilde Chaumier</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">03/04/2021</a>
            </div>

        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220; A la recherche d’une entreprise sérieuse pour rénover ma terrasse, j’ai apprécié le professionnalisme à la suite de la demande d’un devis. Les artisans ont fait un bon travail, je suis satisfait.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Auguste Rabier</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">12/06/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Ce fut une excellente expérience. Merci d' avoir répondu à mes questions et pour un travail bien réalisé. Les membres de votre équipe ont été courtois et démontré une bonne communication. Je ne pensais pas que le rendu transformerai autant mon extérieur.
                &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Julie fredet</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">17/07/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Entreprise sérieuse, bonne communication et respect des délais, je suis satisfait.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Thomas joubert</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">06/09/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Nous avions besoin d'ajouter des bordures dans notre jardin et faire un chemin pavé. Nous avons rapidement été prise en charge pour une appréciation du projet et un devis. Nous avons fait le choix de travailler avec vous par rapport au professionnalisme et au prix compétitif proposé. Nous n’avons pas été déçus. Merci encore  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Marie Renardet</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">10/10/2021</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Une équipe compréhensive et sympathiques. Ma chape de béton a été réalisé rapidement comme promis. Vous avez un certain savoir-faire, je suis satisfait du résultat. &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Hugo Vertoux</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">18/03/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Je voulais un revêtement pour mon garage. Les artisans sont venus rapidement et ont bien fait le travail. Je recommande.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Hassan Djebali</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">04/05/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai été contacté par vos équipes à la suite de ma demande de devis. J’ai apprécié la flexibilité pour la prise de rendez-vous et l’écoute par rapport à mon problème.
                Les artisans venus voir mon jardin et m'ont bien conseillé. Je suis satisfait de la qualité de leur travail et de leur savoir-faire.
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Driss soule</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">15/10/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Le sol de la devanture de notre maison avait besoin d'une rénovation. J’ai effectué une demande de devis. La personne qui m’a contacté était à l’écoute et agréable. Nous avons pu convenir d’un rendez-vous rapidement. J’ai eu un devis à un prix intéressant et je suis satisfaite du travail effectué, ma maison est comme neuve.  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Victoire lambert</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">23/07/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai contacté vos équipes pour rénover ma salle de bain. J’ai obtenu un rendez-vous et un devis convenable rapidement. Les artisans ont effectué un bon travail. Merci
                Cordialement,
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Steven Brieux</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">13/06/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;J’ai apprécié votre réactivité ainsi que votre savoir-faire. Vous ne poussez pas les gens à faire des travaux inutiles, merci pour vos conseils.
                Je suis satisfait de la prestation.
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">David Bernard</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">08/10/2022</a>
            </div>
        </div>
        <div class="section-reviews--wrapper-reviews__card">
            <div class="section-reviews--wrapper-reviews__card--wrap-stars">
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
                <svg class="section-reviews--wrapper-reviews__card--wrap-stars__star">
                    <use href="{% static 'img/sprite.svg' %}#star-gold"></use>
                </svg>
            </div>
            <p class="section-reviews--wrapper-reviews__card--review-text">&#8220;Je suis contente de l’expérience en général. Nous souhaitions effectuer une rénovation de notre cuisine et notre salle de bain. J’ai apprécié le sérieux et l’organisation à la suite de ma demande de devis. L’artisan était à l’écoute et à pu nous faire profiter de son savoir-faire pour nous conseiller. Ceci avec le montant du devis convenable m’a motivé à travailler avec vous.
                Je recommande 
                  &#8221;</p>
            <div class="section-reviews--wrapper-reviews__card--wrap-origin">
                <p class="section-reviews--wrapper-reviews__card--wrap-origin__name">Thérèse Mouveaux</p>
                <a href="#" class="section-reviews--wrapper-reviews__card--wrap-origin__origin">17/10/2022</a>
            </div>
        </div>
    </div>
</div>

    <div class="section-content">
        <div class="section-content--container">
           <div class="section-content--container__wrapper-form">
            <div class="subsection-prospect-form" id="prospect-form">
                <div class="subsection-prospect-form--wrapper-header">
                    <p class="subsection-prospect-form--wrapper-header__title">Devis Gratuit en un Insant</p>
                    <ul class="subsection-prospect-form--wrap-benefit-list">
                        <li class="subsection-prospect-form--wrap-benefit-list__item">Devis sans engagement</li>
                        <li class="subsection-prospect-form--wrap-benefit-list__item">Inspection Gratuite</li>
                    </ul>
                    <p class="subsection-prospect-form--wrapper-header__promo">
                        * Rendu 2D/3D à 199 euro avant le 30/04/2023
                    </p>
                </div>
                <div class="subsection-prospect-form--wrapper-form">
                    <form class="subsection-prospect-form--wrapper-form__form" method="POST">
                        <div class="subsection-prospect-form--wrapper-form__form--wrapper-radio">
                            <p class="subsection-prospect-form--wrapper-form__form--wrapper-radio__desc">Quel type de travaux?</p>
                            {{ lead_form.work_type}}
                        </div>

                        <div class="subsection-prospect-form--wrapper-form__form--wrapper-select">
                            <p class="subsection-prospect-form--wrapper-form__form--wrapper-select__desc" for="work-surface">Quel Surface?</p>
                            <div class="subsection-prospect-form--wrapper-form__form--wrapper-select__wrap-choices">
                                {{ lead_form.surface}} 
                            </div>
                        </div>

                        {{ lead_form.first_name}}
                        {{ lead_form.last_name}}
                        {{ lead_form.email}}
                        {{ lead_form.phone}}
                        {{ lead_form.zipcode}}
                        {{ lead_form.lead_consult_form }}
                        <input class="subsection-prospect-form--wrapper-form__form--submit" type="submit" value="Recevoir mon devis">
                        {% csrf_token %}
                    </form>
                    <div class="subsection-prospect-form--wrapper-form__wrap-policy">
                        <p class="subsection-prospect-form--wrapper-form__wrap-policy--para">En renseignant vos informations, vous acceptez de recevoir nos communications par courrier électronique et télépphone et vous prenez connaissance de notre <a href="" class="nakedLink">Politique de confidentialité</a>. Vous pouvez vous désinscrire à tout moment avec le lien fourni dans chaque e-mail ou en envoyant un message à leadinsightmarketing@gmail.com.</p>
                    </div>
                </div>
            </div>
           </div>    
        </div>
    </div>

    <!-- <div class="section-articles">
        <div class="section-articles--wrapper-cards">
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-136.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part I?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-137.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part II?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-138.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part III?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div> 
            <div class="section-articles--wrapper-cards__card">
                <img class="section-articles--wrapper-cards__card--illus" src="{% static 'img/mirbeton-139.jpg' %}" alt="">
                <div class="section-articles--wrapper-cards__card--wrap-text">
                    <h2 class="section-articles--wrapper-cards__card--wrap-text__title">Quel est le meilleur béton pour ma terrasse part IV?</h2>
                
                    <a href="{% url 'ales:pageArticle_1'%}" class="section-articles--wrapper-cards__card--wrap-text__btn">lire l'article</a>
                </div>
            </div>   
        </div>
    </div> -->
 
{% endblock %}